chat_app/add_files.html
chat_app/university.html
chat_app/files.html
chat_app/login.html
chat_app/otp.html
chat_app/profile.html
chat_app/register.html
chat_app/reset_account.html
chat_app/reset_password_message.html
chat_app/search_files_result.html
chat_app/search_files.html
chat_app/settings.html
chat_app/add_university.html
chat_app/update_account.html
chat_app/update_image.html
chat_app/update_profile.html
chat_app/uploaded_files.html

